* {
  box-sizing: inherit;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #fff;
}

.content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: "main contentRight";
  height: 35vh;
}

.contentRight {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-area: contentRight;
}

.header {
  height: 10vh;
  display: flex;
  justify-content: space-between;
}

.header-text,
.menu,
.hero,
.main,
.image,
.extra,
.banner {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-text {
  background: black;
  flex: 1;
}

.menu {
  background: crimson;
  flex: 3;
}

.hero {
  height: 35vh;
  background: cornflowerblue;
}

.main {
  background: navy;
  grid-area: main;
}

.image {
  background: lightskyblue;
  grid-row: 1;
  grid-column: 2;
}

.extra {
  background: green;
  grid-row: 2;
  grid-column: 2;
}

.banner {
  height: 20vh;
  background: goldenrod;
}
