    body {
        background-color: #E1E7F5;
    }
    
    .container {
        max-width: 800px;
        margin: 50px auto;
        padding: 20px;
        border-radius: 8px;
        border: none; 
        text-align: center; 
    }

    .divider {
        border: none;
        border-top: 3px solid #B5D2ED; 
        margin: 40px 0 30px;
    }

    .input-container {
        margin-bottom: 20px;
    }

    .input-container input {
        width: 90%;
        padding: 12px;
        border-radius: 4px;
        border: 2px solid black;
    }

    .lists-container {
        display: flex;
        justify-content: flex-start; 
        text-align: left;
        margin-left: 50px; 
        margin-top: 30px;
    }

    .task-list {
        width: 45%;
        margin-left: 40px; 
    }

    .task-list h2 {
        display: inline-block; 
        border-bottom: 3px solid #B5D2ED; 
        padding-bottom: 3px; 
        font-size: 18px;
    }

    .complete-btn {
        background-color: #B5D2ED; 
        color: white;
        border: none;
        padding: 5px 10px;
        margin-left: 5px;
        cursor: pointer;
    }

    .delete-btn {
        background-color: #B5D2ED;
        color: white;
        border: none;
        padding: 5px 10px;
        margin-left: 5px;
        cursor: pointer;
    }

    .task-item {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 15px;
        padding-bottom: 5px;
        border-bottom: 4px solid #B5D2ED; 
    }
    
    
    
