body {
  margin: 0;
  padding: 0;
  background-color: #000629;
  font-family: Arial, sans-serif;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #000629;
  padding: 10px 5%; 
  height: 60px;
}

.logo img {
  height: 30px;
  margin-left: 100px;
}

.navbar-menu {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.navbar-menu li {
  margin-left: 40px; 
}

.navbar-menu a {
  color: white;
  text-decoration: none;
  font-size: 14px;
}

.navbar-menu {
  margin-right: 13%; 
}

.navbar-toggle {
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 21px;
  background: transparent;
  border: none;
  cursor: pointer;
}

.bar {
  width: 100%;
  height: 3px;
  background-color: white;
}

@media (max-width: 768px) { 
  .navbar-menu {
    display: none;
    flex-direction: column;
    width: 100%;
    position: absolute;
    top: 60px;
    left: 0;
    background-color: #000629;
    padding: 20px 0;
  }

  .navbar-menu.active {
    display: flex;
  }

  .navbar-menu li {
    margin: 10px 0;
    text-align: center;
  }

  .navbar-toggle {
    display: flex;
  }

  .logo img {
    margin-left: 0;
  }
}