.list {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}
.checkbox {
    margin-right: 10px;
    box-sizing: border-box;
    width: 30px;
    height: 30px;
    background: #FFFFFF;
    border: 3px solid #D9D9D9;
    border-radius: 50%;
}
.todolist {
    flex-grow: 1;
}
.deleteBtn {
    background-color: red;
    color: white;
    border: none;
    cursor: pointer;
}
.textbar {
box-sizing: border-box;
width: 70%;
height: 30px;

margin-right: 20px;
background: #FFFFFF;
border: 3px solid #00B7FF;
border-radius: 20px;
}

.submitbutton{
width: 10%;
height: 30px;
background: #FFFFFF;
border: 3px solid #00B7FF;
border-radius: 50px;
color:#00B7FF;
font-weight: 200;

}