# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Dependency directories
node_modules/

# Distribution directories
dist/
dist-ssr/

# Local environment and sensitive files
*.local
.env
.env.*    # 모든 .env 관련 파일 무시 (.env.development, .env.production 등 포함)

# Editor directories and files
.vscode/
!.vscode/extensions.json
.idea/
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
