.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 100px;
}
button {
  background-color: #d1d0d6;
  border: none;
  border-radius: 5px;
  color: white;
  min-width: 50px;
  height: 40px;
  font-size: 12px;
  padding: 10px 10px;
}
form {
  display: flex;
}
input {
  height: 30px;
  width: 400px;
  display: flex;
  margin-right: 20px;
  justify-content: center;
  align-items: center;
}
input::placeholder {
  display: flex;
  justify-content: flex-start;
}
.textContainer {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  width: 495px;
  flex-direction: column;
  margin-top: 20px;
}
