
.navbar {

    display: flex;
    justify-content: flex-end; 
    
    display: flex;
    
    width: 100%;
    height: 60px;

    background-color: black;
}

.logo {
    
    margin-left: 100em;
    position: absolute;
    left: 15px;
    margin: 15px;
    width: 30px;
    height: 30px;
    margin-left: 10%;
    text-align: left;
    
}

.navbar span { 
    
    margin: 20px; 
    text-align: right;
    justify-content: flex-end;
    

    color: white;
}


.menu {
    margin: 13px;
    margin-right: 20vw;
    display: none;
    width: 30px;
    height: 30px;
    
}


@media screen and (max-width: 1000px){
    .item {
        display: none;
    }
    

    .menu{
        display : flex;
    }
    
}

