.navbar {

    flex-wrap: wrap;
    display: flex;
    align-items: center;
    width: 1920px;
    height: 60px;

    background-color: black;
}

.logo {
    flex-wrap: wrap;
    display: inline-block;
    position: relative;
    top: 16px;
    left: 370px;
    width:28px;
    height:28px;
}

.navbar span {
    
    margin: 20px;
    height: 40px;
    top: 10px;
    

    color: white;
}

@media screen and (min-width: 430px){
    .navbar {
        
        
    }

    .logo {
        justify-content: flex-start; /* 로고를 왼쪽에 고정 */
        padding: 0 50px; /* 더 넓은 화면에서 좌우 여백을 늘림 */
        
    }
}


